$ff-main: 'Archivo Narrow', sans-serif;
$ff-secondary: 'Julius Sans One', sans-serif;
$color-main: #111;
$color-secondary: #333;
$color-accent: #FACF0F;
$color-black: #000;
$color-white: #fff;

$container-width: 1400px;
